* {
    transition: background-color 0.3s ease-in-out;
}

body {
    margin-top: 72px;
    font-family: Avenir Next;
    background-color: white;
    color: #292929;
}

#home-logo {
    position: absolute;
    top: 0;
    width: 65px;
}

#collapsibleNavbar {
    background-color: white;
}

p {
    font-size: 16pt;
}

.container {
    margin-top: 300px;
    margin-bottom: 300px;
}

/* Navbar */
nav {
    background-color: white;
}

.topbar {
    font-size: 12pt;
    font-weight: 500;
}

.nav-link {
    color: #292929;
}

.nav-link:hover {
    color: grey;
}

nav .fas,.fab {
    padding: 15px 15px 15px 15px;
    border-bottom-style: solid;
    border-width: thin;
    color: grey;
    height: 55px;
}

nav .fas:hover,.fab:hover {
    color: #004D40;
    border-width: medium;
}

/* Jumbotron */
.jumbotron {
    text-align: center;
    background-color: white;
    color: #292929;
    margin: 0;
}

.jumbotron h1 {
    font-weight: bold;
    font-size: 54pt;
    background: -webkit-linear-gradient(left, lightgray , white);
    background: -o-linear-gradient(right, lightgray, white);
    background: -moz-linear-gradient(right, lightgray, white);
    background: linear-gradient(to right, lightgray , white); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #292929;
}

.jumbotron h2 {
    font-weight: 600;
    font-size: 18pt;
}

.container h2 span {
    color: #009688;
}

.jumbotron h3 {
    font-weight: normal;
    font-size: 14pt;
}


/* Schedule */
#schedule h2,h6 {
    font-weight: bolder;
}

#schedule h6 {
    padding-bottom: 25px;
}

#schedule .container {
    margin-top: 50px;
}

/* About */
#about h2,h6 {
    font-weight: bolder;
}

#about h6 {
    padding-bottom: 25px;
}

.circle-border {
    /* border-radius: 100%; */
    border: 3px solid #7e8a00;
    height:100%;
    margin: auto;
    padding: 30px;
    border-radius: 30px 0px 30px 0px;

}

/* Eboard */
#eboard h2,h6 {
    font-weight: bolder;
}

#eboard h6 {
    padding-bottom: 25px;
}

.card {
    filter: grayscale(100%);
    margin-bottom: 25px;
}

.card a {
    color: #292929;
}
.card a:hover {
    color: #292929;
    text-decoration: none;
}

/* Faqs */
#faqs h2,h6 {
    font-weight: bolder;
}

#faqs h6 {
    padding-bottom: 25px;
}

.card-body {
    background-color: white;
}

.card-header {
    background-color: white;
}

.card-link {
    color: white;
}

.card-link:hover {
    color: grey;
}

/* footer */

footer {
    text-align: center;
    margin-bottom: 100px;
}


/* switch */
.custom-switch {
    z-index: 10000;
    bottom: 25px;
    right: 25px;
    position: fixed;
}

#customSwitch {
    cursor: pointer;
}


@media all and (max-width: 991px) {
    .custom-switch {
        bottom: unset;
        left: unset;
        right: 10px;
        top: 10px;
    }

    #home-logo {
        position: relative;
    }
}