body {
    background-color:#171717;
    min-width: 100vh;
    max-width: 100vh;
    min-height: 100vh;
    overflow:hidden;
}

body.light{
    background-color:whitesmoke;
}

/*Pageheader styling*/
#header-container{
    width:100vh;
    position:absolute;
    top:5%;
}

/*Infobox styling*/
#left-top{
    width:150vh;
    height:fit-content;
    position:absolute;
    top: 40%;
    left: 10vh;
}

#middle-top{
    width:150vh;
    height:fit-content;
    position:absolute;
    top: 40%;
    left:75vh;
}

#right-top{
    width:150vh;
    height:fit-content;
    position:absolute;
    top: 40%;
    left:135vh;
}

#left-bottom{
    width:150vh;
    height:fit-content;
    position:absolute;
    top: 70%;
    left:10vh;
}

#middle-bottom{
    width:150vh;
    height:fit-content;
    position:absolute;
    top: 70%;
    left:75vh;
}

#right-bottom{
    width:150vh;
    height:fit-content;
    position:absolute;
    top: 70%;
    left:135vh;
}