body {
    background-color:#171717;
    min-width: 100vh;
    max-width: 100vh;
    min-height: 100vh;
    overflow:hidden;
}

body.light{
    background-color:whitesmoke;
}

/*Home screen styling*/
#home-logo{
    opacity: 0.2;
    width:20%;
    position:absolute;
    z-index: 10;
    top:20vh;
    left: 10%;
  }
  
  #header{
    position:absolute;
    z-index: 15;
    top:25vh;
    left: 7%;
    width:fit-content;
    height:fit-content;
    font-weight: bolder;
    color:white;
    font-size:40px;
  }
  
  #header.light{
    color:black;
  }
  
  #header2{
    position:absolute;
    z-index: 15;
    top:33vh;
    left: 10.5%;
    width:fit-content;
    height:fit-content;
    font-weight: bolder;
    color: rgb(203, 203, 203);
  }
  
  #header2.light{
    color: black;
  }
  
  #header3{
    position:absolute;
    z-index: 15;
    top:37vh;
    left: 8.5%;
    width:fit-content;
    height:fit-content;
    font-weight: bolder;
    color: rgb(203, 203, 203);
  }
  
  #header3.light{
    color:black;
  }
  
  #information{
    position:absolute;
    z-index: 10;
    top:50vh;
    left: 62%;
    width: 25%;
    height:fit-content;
    text-align:center;
    color:white;
  }
  
  #information.light{
    color:black;
  }
  
  #join-text{
    position:absolute;
    z-index: 10;
    top:65%;
    left: 51.5%;
    width: 35%;
    height:fit-content;
    text-align:center;
    color:white;
  }
  
  #join-text.light{
    color:black;
  }
  
  #icons{
    position:absolute;
    z-index: 10;
    top:490px;
    left: 73%;
    width: 3%;
    height:fit-content;
    color: #ffffff;
  }