.toggle-container{
    position:fixed;
    top:93%;
    left:95%;
    z-index: 1020;
    width: fit-content;
    height:fit-content;
    color:whitesmoke;
  }
  
  #toggle-dark-icon.light{
    color:black;
  }